.lk {
    background-color: rgb(22, 22, 22);
    border-radius: 40px;
    height: 550px;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 350px) {
.h-custom {
height: 100%;
}
}